<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home.html</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Home page!!!!</h1>-->

<!--</body>-->
<!--</html>-->
{% extends 'base.html' %}

{% block content %}
<h1>Hey {{name}}!!!!! </h1>

<form action="add" method="post">
    {% csrf_token %}
    <h3>addition</h3>
    Enter 1st number : <input type="text" name="num1"><br>
    Enter 2st number : <input type="text" name="num2"><br>
    <input type="submit">
</form>

<form action="substraction" method="post">
    {% csrf_token %}
    <h3>substraction</h3>
    Enter 1st number : <input type="text" name="num1"><br>
    Enter 2st number : <input type="text" name="num2"><br>
    <input type="submit">
</form>
{% endblock %}



